- hosts: localhost
  connection: local
  become: yes
  tasks:

    # - name: Update apt cache
    #   apt: update_cache=yes cache_valid_time=3600

    # - name: Upgrade all apt packages
    #   apt: upgrade=dist

    - name: Install dependencies
      apt:
        name: "{{ packages }}"
        state: present
        update_cache: yes
      vars:
        packages:
        - openjdk-11-jdk
        - curl
        - git
        - acl

    - name: Add jenkins user and append to admin group
      user:
        name: jenkins
        shell: /bin/bash
        password: ''
        groups: admin
        append: yes
    
    - name: Allow 'jenkins' user to have passwordless sudo
      lineinfile:
        dest: /etc/sudoers
        state: present
        line: 'jenkins ALL=(ALL) NOPASSWD:ALL'
        validate: 'visudo -cf %s'

    - name: Import a key from a url
      ansible.builtin.apt_key:
        url: https://pkg.jenkins.io/debian/jenkins.io.key
        state: present

    - name: download jenkins binary
      command: sh -c "echo deb http://pkg.jenkins-ci.org/debian binary/ > /etc/apt/sources.list.d/jenkins.list"
      
    - name: Update apt cache
      apt: update_cache=yes cache_valid_time=3600

    - name: install jenkins
      apt:
        name: jenkins
        state: present
        update_cache: yes

    - name: Just force systemd to re-execute itself
      ansible.builtin.systemd:
        daemon_reload: yes
        scope: system

    - name: start service jenkins
      ansible.builtin.systemd:
        name: jenkins
        state: started
        scope: system

    - name: install python pip 
      ansible.builtin.apt:
        name: 
          - python3-pip
          - Flask
          - pytest
          - flask_testing
          - requests_mock

    - name: get password
      command: cat /var/lib/jenkins/secrets/initialAdminPassword